body {
    margin: 0;
    background: url("Img/pattern.png");
    font-family: Tahoma;
    line-height: 1.5
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
}

.card-photo {
    display: block;
    width: 200;
    height: 200;
    margin: 0 auto;
    border-radius: 30%;
    border-radius: 50px;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color:#16ba08;
}
.card-text {
    font-size: 14px;
    color:black;
}
.card-subtitle {
    font-size: 18px;
    color:#131ea2;
}
